body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    font-family: 'pokemon_hollownormal';
}

@font-face {
    font-family: 'pokemon_hollownormal';
    src: url('pokemon_hollow-webfont.woff2') format('woff2'), url('pokemon_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -34px;
}



.squirtle {
    background-image: url('squirtle.png');
}

.scyther {
    background-image: url('scyther.png');
}

.growlithe {
    background-image: url('growlithe.png');
}

.mewtwo {
    background-image: url('mewtwo.png');
}

.onix {
    background-image: url('onix.png');
}

.bulbasaur {
    background-image: url('bulbasaur.png');
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    width: 145px;
    height: 200px;
    margin: none;
    margin: 20px;
}

/* flip the pane when clicked */
.flip-container:active .flipper, .flip-container.active .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 150px;
    height: 200px;
    margin: 20px;
}

/* flip speed goes here */
.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    margin: -20px;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-image: url("card-back.jfif");
    background-size: 150px 200px;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-size: 150px 200px;
}
