body {
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -34px;
}

.card {
    width: 25%;
    height: 200px;
    background-color: white;
    border: 3px solid black;
    margin: none;
    margin: 20px;
    
    background-image: 100%;
    
    
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip the pane when clicked */
.flip-container:active .flipper, .flip-container.onclick .flipper {
		transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 150px;
    height: 200px;
    margin: 20px;
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;

    position: relative;
    margin: -20px;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
}

/* front pane, placed above back */
.front {
    z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    background-image: url("card-back.jfif");
    background-size: 150px 200px;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: blue;
}